* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    font-family: Arial;
}

$footer-gradient-background :url('/assets/images/noise_transparent@2x.png'),
radial-gradient(110.67% 538.64% at 5.73% 50%,
#513D2F 0%,
#1A1A1C 100%),
#211F20;
;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m :#B2B2B2;
$color-dark-l :#545454;
$color-dark-xl: #545454;
$color-dark-2xl :#444444;
$color-dark-3xl: #292929;
@mixin h2 {
    line-height: 130%;
    font-family: Georgia;
    font-weight: normal;
    font-size: 4.4rem;
}

@mixin h3 {
    font: {
        size: 3.5rem;
        family: Georgia;
        style: normal;
        weight: normal;
    }
    letter-spacing: 0.21rem;
    line-height: 130%;
}

@mixin h4 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 2rem;
    }
    letter-spacing: 0.12rem;
    line-height: 115%;
}

@mixin h5 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 1.5rem;
    }
    line-height: 110%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    border: 2px solid transparent;
    margin: 0;
    background: transparent;
    border: none;
    color: $color-dark-3xl;
    @include h4;
    &:hover {
        cursor: pointer;
        border: 2px solid transparent;
    }
    &__little {
        border-radius: 50%;
        width: 52px;
        height: 52px;
        border: 2px solid $color-primary;
        &:hover {
            border: 2px solid transparent;
            background-color: $color-primary-light;
        }
        &_active {
            border: 2px solid transparent;
            background-color: $color-primary;
        }
        &_inactive {
            border: 2px solid $color-dark-s;
            &:hover {
                border: 2px solid $color-dark-s;
                background-color: transparent;
            }
        }
    }
    &__arrow {
        &_left {
            background-image: url('/assets/icons/arrow-left.svg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            &_inactive {
                background-image: url('/assets/icons/arrow-inactive.svg');
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
        }
        &_right {
            background-image: url('/assets/icons/arrow-right.svg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            &_inactive {
                background-image: url('/assets/icons/arrow-inactive.svg');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                transform: rotate(180deg);
            }
        }
        &_small_left {
            background-image: url('/assets/icons/small-arrow.svg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            transform: rotate(180deg);
            &_inactive {
                background-image: url('/assets/icons/small-arrow_inactive.svg');
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
            &_double {
                background-image: url('/assets/icons/small-arrow-double.svg');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                transform: rotate(180deg);
                &_inactive {
                    background-image: url('/assets/icons/small-arrow__inactive-double.svg');
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                }
            }
        }
        &_small_right {
            background-image: url('/assets/icons/small-arrow.svg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            &_inactive {
                background-image: url('/assets/icons/small-arrow_inactive.svg');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                transform: rotate(180deg);
            }
            &_double {
                background-image: url('/assets/icons/small-arrow-double.svg');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                &_inactive {
                    background-image: url('/assets/icons/small-arrow__inactive-double.svg');
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    transform: rotate(180deg);
                }
            }
        }
    }
    &__big {
        border: 2px solid transparent;
        line-height: 130%;
        font-size: 1.7rem;
        border-radius: 100px;
        padding: 13px 43px;
        &:hover {
            border: 2px solid transparent;
            background-color: $color-primary-light;
        }
        &_primary {
            background-color: $color-primary;
        }
        &_secondary {
            border: 2px solid $color-primary;
        }
    }
}

header {
    width: 100%;
    background: $color-light-xl;
    .hamburger-menu {
        display: none;
    }
    .wrapper {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        .logo {
            width: 186px;
            text-align: center;
            &__title {
                font-weight: normal;
                font-family: Georgia;
                color: $color-dark-l;
                line-height: 110%;
                letter-spacing: 0.19rem;
                font-size: 3.2rem;
                padding-bottom: 10px;
            }
            &__subtitle {
                color: $color-dark-3xl;
                font-size: 1.3rem;
                line-height: 110%;
                letter-spacing: 0.13rem;
            }
        }
    }
    .menu {
        display: flex;
        align-items: center;
        min-width: 443px;
    }
    .list {
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: space-between;
        &__item {
            padding-bottom: 3px;
        }
        &__link {
            padding-bottom: 3px;
            font-size: 1.5rem;
            line-height: 160%;
            color: $color-dark-l;
            text-decoration: none;
            &:hover {
                color: $color-dark-3xl;
            }
            &_active {
                border-bottom: 3px solid $color-primary;
            }
        }
    }
}

.pets {
    text-align: center;
    background: $color-light-l;
    .wrapper {
        padding: 80px 0 100px;
    }
    &__title {
        margin-left: 3px;
        @include h3;
        color: $color-dark-l;
    }
    &__slider {
        margin-top: 60px;
        &__buttons {
            display: flex;
            margin: 0 auto;
            max-width: 340px;
            justify-content: space-between;
        }
    }
    &__cards-container {
        margin-bottom: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__card {
        border-radius: 9px;
        padding-bottom: 28px;
        margin-bottom: 32px;
        background: $color-light-s;
        &:hover {
            background: $color-light-xl;
            cursor: pointer;
        }
        &_title {
            padding-top: 28px;
            padding-bottom: 31px;
            color: $color-dark-3xl;
            @include h4;
        }
    }
}

.footer {
    background: $footer-gradient-background;
    .wrapper {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        padding: 16px 0 40px;
        max-width: 312px;
        @include h3;
        color: $color-light-xl;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        &_longer {
            margin-bottom: 33px;
            margin-top: -6px;
        }
    }
    &__icon {
        margin-right: 20px;
    }
    &__link {
        text-decoration: none;
        color: $color-primary;
        @include h4;
    }
    .contacts {
        margin-right: 40px;
        max-width: 280px;
    }
    .location {
        max-width: 341px;
    }
}

@media only screen and (max-width: 1279px) {
    header {
        .wrapper {
            padding: 30px 30px;
            display: flex;
            justify-content: space-between;
        }
    }
    .pets {
        .wrapper {
            padding: 72px 74px 75px;
        }
        &__slider {
            margin-top: 38px;
        }
        &__cards-container {
            margin-bottom: 9px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__card:not(:nth-last-child(n+3)) {
            display: none;
        }
    }
    .footer {
        .wrapper {
            padding: 15px 10px 0 10px;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__img {
            margin-top: 20px;
        }
        .contacts {
            margin-right: 27px;
            padding-left: 40px;
            max-width: 100%;
        }
        &__item_longer {
            margin-top: -8px;
        }
    }
}

@media only screen and (max-width:767px) {
    header {
        .wrapper {
            padding: 30px 10px;
        }
        .hamburger-menu {
            display: block;
            position: relative;
        }
        // hamburger
        .menu {
            display: none;
        }
        /* скрываем чекбокс */
        #menu__toggle {
            opacity: 0;
        }
        /* стилизуем кнопку */
        .menu__btn {
            display: flex;
            /* используем flex для центрирования содержимого */
            align-items: center;
            /* центрируем содержимое кнопки */
            position: absolute;
            top: 16px;
            right: 40px;
            width: 30px;
            height: 26px;
            cursor: pointer;
            z-index: 3;
        }
        /* добавляем "гамбургер" */
        .menu__btn>span,
        .menu__btn>span::before,
        .menu__btn>span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
        }
        .menu__btn>span::before {
            content: "";
            top: -10px;
        }
        .menu__btn>span::after {
            content: "";
            top: 10px;
        }
        /* контейнер меню */
        .menu__box {
            display: block;
            position: fixed;
            visibility: hidden;
            top: 0;
            right: -100%;
            width: 300px;
            height: 100%;
            margin: 0;
            padding: 100px 0;
            list-style: none;
            text-align: center;
            background-color: $color-dark-s;
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
        }
        /* элементы меню */
        .menu__item {
            display: block;
            padding: 12px 24px;
            text-decoration: none;
            color: $color-dark-xl;
            @include h4;
        }
        .menu__item:hover {
            background-color: $color-light-l;
        }
        #menu__toggle:checked~.menu__btn>span {
            transform: rotate(45deg);
        }
        #menu__toggle:checked~.menu__btn>span::before {
            top: 0;
            transform: rotate(0);
        }
        #menu__toggle:checked~.menu__btn>span::after {
            top: 0;
            transform: rotate(90deg);
        }
        #menu__toggle:checked~.menu__box {
            visibility: visible;
            right: 0;
        }
        .menu__btn>span,
        .menu__btn>span::before,
        .menu__btn>span::after {
            transition-duration: 0.3s;
        }
        .menu__box {
            transition-duration: 0.3s;
        }
        .menu__item {
            transition-duration: 0.3s;
        }
    }
    .pets {
        .wrapper {
            padding: 40px 0 30px;
        }
        &__title {
            font-size: 2.5rem;
            letter-spacing: 0.15rem;
        }
        &__slider {
            margin-top: 50px;
        }
        &__slider__buttons {
            max-width: 300px;
        }
        &__cards-container {
            margin: 0;
        }
        &__card {
            margin-bottom: 31px;
            &:nth-child(2n) {
                display: none;
            }
        }
    }
    .footer {
        .contacts {
            margin: 0 auto;
            padding: 0 10px 24px;
        }
        &__item:last-child {
            margin: 0;
        }
        &__item_longer {
            margin-top: -7px;
        }
        &__title {
            padding: 16px 0 39px;
            text-align: center;
        }
        &__img {
            margin-top: 95px;
        }
    }
}