@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: Arial;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  border: 2px solid transparent;
  margin: 0;
  background: transparent;
  border: none;
  color: #292929;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 115%;
}
.button:hover {
  cursor: pointer;
  border: 2px solid transparent;
}
.button__little {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
}
.button__little:hover {
  border: 2px solid transparent;
  background-color: #FDDCC4;
}
.button__little_active {
  border: 2px solid transparent;
  background-color: #F1CDB3;
}
.button__little_inactive {
  border: 2px solid #CDCDCD;
}
.button__little_inactive:hover {
  border: 2px solid #CDCDCD;
  background-color: transparent;
}
.button__arrow_left {
  background-image: url("/assets/icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_left_inactive {
  background-image: url("/assets/icons/arrow-inactive.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_right {
  background-image: url("/assets/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_right_inactive {
  background-image: url("/assets/icons/arrow-inactive.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
}
.button__arrow_small_left {
  background-image: url("/assets/icons/small-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
}
.button__arrow_small_left_inactive {
  background-image: url("/assets/icons/small-arrow_inactive.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_small_left_double {
  background-image: url("/assets/icons/small-arrow-double.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
}
.button__arrow_small_left_double_inactive {
  background-image: url("/assets/icons/small-arrow__inactive-double.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_small_right {
  background-image: url("/assets/icons/small-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_small_right_inactive {
  background-image: url("/assets/icons/small-arrow_inactive.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
}
.button__arrow_small_right_double {
  background-image: url("/assets/icons/small-arrow-double.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_small_right_double_inactive {
  background-image: url("/assets/icons/small-arrow__inactive-double.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
}
.button__big {
  border: 2px solid transparent;
  line-height: 130%;
  font-size: 1.7rem;
  border-radius: 100px;
  padding: 13px 43px;
}
.button__big:hover {
  border: 2px solid transparent;
  background-color: #FDDCC4;
}
.button__big_primary {
  background-color: #F1CDB3;
}
.button__big_secondary {
  border: 2px solid #F1CDB3;
}

header {
  width: 100%;
  background: #FFFFFF;
}
header .hamburger-menu {
  display: none;
}
header .wrapper {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
header .wrapper .logo {
  width: 186px;
  text-align: center;
}
header .wrapper .logo__title {
  font-weight: normal;
  font-family: Georgia;
  color: #545454;
  line-height: 110%;
  letter-spacing: 0.19rem;
  font-size: 3.2rem;
  padding-bottom: 10px;
}
header .wrapper .logo__subtitle {
  color: #292929;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
}
header .menu {
  display: flex;
  align-items: center;
  min-width: 443px;
}
header .list {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
header .list__item {
  padding-bottom: 3px;
}
header .list__link {
  padding-bottom: 3px;
  font-size: 1.5rem;
  line-height: 160%;
  color: #545454;
  text-decoration: none;
}
header .list__link:hover {
  color: #292929;
}
header .list__link_active {
  border-bottom: 3px solid #F1CDB3;
}

.pets {
  text-align: center;
  background: #F6F6F6;
}
.pets .wrapper {
  padding: 80px 0 100px;
}
.pets__title {
  margin-left: 3px;
  font-size: 3.5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.21rem;
  line-height: 130%;
  color: #545454;
}
.pets__slider {
  margin-top: 60px;
}
.pets__slider__buttons {
  display: flex;
  margin: 0 auto;
  max-width: 340px;
  justify-content: space-between;
}
.pets__cards-container {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pets__card {
  border-radius: 9px;
  padding-bottom: 28px;
  margin-bottom: 32px;
  background: #FAFAFA;
}
.pets__card:hover {
  background: #FFFFFF;
  cursor: pointer;
}
.pets__card_title {
  padding-top: 28px;
  padding-bottom: 31px;
  color: #292929;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 115%;
}

.footer {
  background: url("/assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer .wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.footer__title {
  padding: 16px 0 40px;
  max-width: 312px;
  font-size: 3.5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.21rem;
  line-height: 130%;
  color: #FFFFFF;
}
.footer__item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.footer__item_longer {
  margin-bottom: 33px;
  margin-top: -6px;
}
.footer__icon {
  margin-right: 20px;
}
.footer__link {
  text-decoration: none;
  color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 115%;
}
.footer .contacts {
  margin-right: 40px;
  max-width: 280px;
}
.footer .location {
  max-width: 341px;
}

@media only screen and (max-width: 1279px) {
  header .wrapper {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
  }

  .pets .wrapper {
    padding: 72px 74px 75px;
  }
  .pets__slider {
    margin-top: 38px;
  }
  .pets__cards-container {
    margin-bottom: 9px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .pets__card:not(:nth-last-child(n+3)) {
    display: none;
  }

  .footer .wrapper {
    padding: 15px 10px 0 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer__img {
    margin-top: 20px;
  }
  .footer .contacts {
    margin-right: 27px;
    padding-left: 40px;
    max-width: 100%;
  }
  .footer__item_longer {
    margin-top: -8px;
  }
}
@media only screen and (max-width: 767px) {
  header {
    /* скрываем чекбокс */
    /* стилизуем кнопку */
    /* добавляем "гамбургер" */
    /* контейнер меню */
    /* элементы меню */
  }
  header .wrapper {
    padding: 30px 10px;
  }
  header .hamburger-menu {
    display: block;
    position: relative;
  }
  header .menu {
    display: none;
  }
  header #menu__toggle {
    opacity: 0;
  }
  header .menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: absolute;
    top: 16px;
    right: 40px;
    width: 30px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }
  header .menu__btn > span,
header .menu__btn > span::before,
header .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  header .menu__btn > span::before {
    content: "";
    top: -10px;
  }
  header .menu__btn > span::after {
    content: "";
    top: 10px;
  }
  header .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 100px 0;
    list-style: none;
    text-align: center;
    background-color: #CDCDCD;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  header .menu__item {
    display: block;
    padding: 12px 24px;
    text-decoration: none;
    color: #545454;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: 0.12rem;
    line-height: 115%;
  }
  header .menu__item:hover {
    background-color: #F6F6F6;
  }
  header #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  header #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  header #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  header #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  header .menu__btn > span,
header .menu__btn > span::before,
header .menu__btn > span::after {
    transition-duration: 0.3s;
  }
  header .menu__box {
    transition-duration: 0.3s;
  }
  header .menu__item {
    transition-duration: 0.3s;
  }

  .pets .wrapper {
    padding: 40px 0 30px;
  }
  .pets__title {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }
  .pets__slider {
    margin-top: 50px;
  }
  .pets__slider__buttons {
    max-width: 300px;
  }
  .pets__cards-container {
    margin: 0;
  }
  .pets__card {
    margin-bottom: 31px;
  }
  .pets__card:nth-child(2n) {
    display: none;
  }

  .footer .contacts {
    margin: 0 auto;
    padding: 0 10px 24px;
  }
  .footer__item:last-child {
    margin: 0;
  }
  .footer__item_longer {
    margin-top: -7px;
  }
  .footer__title {
    padding: 16px 0 39px;
    text-align: center;
  }
  .footer__img {
    margin-top: 95px;
  }
}

/*# sourceMappingURL=pets.css.map */
