@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: Arial;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  z-index: 1 !important;
  border: 2px solid transparent;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  font-family: Georgia;
  color: #292929;
  font-weight: normal;
  letter-spacing: 0.11rem;
}
.button:hover {
  cursor: pointer;
  border: 2px solid transparent;
}
.button::after, .button::before {
  content: "" !important;
}
.button__little {
  border-radius: 50%;
  max-width: 52px;
  width: 100%;
  height: 52px;
  border: 2px solid #F1CDB3;
}
.button__little:hover {
  border: 2px solid transparent;
  background-color: #FDDCC4;
}
.button__little:active, .button__little_active {
  border: 2px solid transparent;
  background-color: #F1CDB3;
}
.button__little_inactive {
  border: 2px solid #CDCDCD;
}
.button__little_inactive:hover {
  cursor: not-allowed !important;
  border: 2px solid #CDCDCD;
  background-color: transparent;
}
.button__close {
  background-image: url("../../assets/icons/close-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_left {
  background-image: url("../../assets/icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_left_inactive {
  background-image: url("../../assets/icons/arrow-inactive.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_right {
  background-image: url("../../assets/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_right_inactive {
  background-image: url("../../assets/icons/arrow-inactive.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
}
.button__arrow_small_left {
  background-image: url("../../assets/icons/small-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
}
.button__arrow_small_left_inactive {
  background-image: url("../../assets/icons/small-arrow_inactive.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_small_left_double {
  background-image: url("../../assets/icons/small-arrow-double.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
}
.button__arrow_small_left_double_inactive {
  background-image: url("../../assets/icons/small-arrow__inactive-double.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_small_right {
  background-image: url("../../assets/icons/small-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_small_right_inactive {
  background-image: url("../../assets/icons/small-arrow_inactive.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
}
.button__arrow_small_right_double {
  background-image: url("../../assets/icons/small-arrow-double.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_small_right_double_inactive {
  background-image: url("../../assets/icons/small-arrow__inactive-double.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
}
.button__big {
  border: 2px solid transparent;
  line-height: 130%;
  font-size: 1.7rem;
  border-radius: 100px;
  padding: 13px 43px;
}
.button__big:hover {
  border: 2px solid transparent;
  background-color: #FDDCC4;
}
.button__big_primary {
  background-color: #F1CDB3;
}
.button__big_secondary {
  border: 2px solid #F1CDB3;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 100;
  width: 900px;
  max-width: 80%;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal .modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}
.modal .modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.modal .modal-body {
  padding: 10px 15px;
  background-color: #FAFAFA;
  display: flex;
}
.modal .modal-body img {
  width: 100%;
  max-width: 500px;
}
.modal .modal-body .pets__card_modal {
  width: 400px;
}
.modal .modal-body .pet__name {
  font-size: 3.5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.21rem;
  line-height: 130%;
  margin-top: 50px;
}
.modal .modal-body .pet__type {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 115%;
  margin-top: 10px;
}
.modal .modal-body .pet__description {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  margin-top: 40px;
}
.modal .modal-body .pet__characteristics {
  margin-top: 40px;
}
.modal .modal-body .pet__characteristics li {
  list-style-type: none;
  position: relative;
  margin-bottom: 10px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
}
.modal .modal-body .pet__characteristics li:before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  background-color: #F1CDB3;
  left: -12px;
  top: calc(50% - 2px);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.6);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  z-index: 10;
  pointer-events: all;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background: #FFFFFF;
}
header .hamburger-menu,
header .logo_burger {
  display: none;
}
header .wrapper {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
header .wrapper .logo {
  width: 186px;
  text-align: center;
}
header .wrapper .logo__title {
  font-weight: normal;
  font-family: Georgia;
  color: #545454;
  line-height: 110%;
  letter-spacing: 0.19rem;
  font-size: 3.2rem;
  padding-bottom: 10px;
}
header .wrapper .logo__subtitle {
  color: #292929;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
}
header .menu {
  display: flex;
  align-items: center;
  min-width: 443px;
}
header .list {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
header .list__item {
  padding-bottom: 3px;
}
header .list__link {
  padding-bottom: 3px;
  font-size: 1.5rem;
  line-height: 160%;
  color: #545454;
  text-decoration: none;
}
header .list__link:hover {
  color: #292929;
}
header .list__link_active {
  border-bottom: 3px solid #F1CDB3;
}

.pets {
  text-align: center;
  background: #F6F6F6;
}
.pets .wrapper {
  padding: 80px 0 100px;
}
.pets__title {
  margin-left: 3px;
  font-size: 3.5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.21rem;
  line-height: 130%;
  color: #545454;
}
.pets__slider {
  position: relative;
  margin-top: 45px;
}
.pets__slider__buttons {
  display: flex;
  margin: 0 auto;
  max-width: 340px;
  justify-content: space-between;
  margin-top: 14px;
}
.pets__slider-button_right, .pets__slider-button_left {
  position: relative !important;
  top: 0;
  right: 0;
  left: 0;
}
.pets__cards-container {
  margin-bottom: 32px;
}
.pets__card {
  border-radius: 9px;
  padding-bottom: 28px;
  background: #FAFAFA;
}
.pets__card:hover {
  background: #FFFFFF;
  cursor: pointer;
}
.pets__card_title {
  padding-top: 28px;
  padding-bottom: 31px;
  color: #292929;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 115%;
}
.pets .swiper-container {
  width: 100%;
  height: 960px;
  margin-left: auto;
  margin-right: auto;
}
.pets .swiper-container .swiper-slide {
  margin: 0 !important;
  text-align: center;
  font-size: 18px;
  height: calc((100% - 30px) / 2);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.footer {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer .wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.footer__title {
  padding: 16px 0 40px;
  max-width: 312px;
  font-size: 3.5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.21rem;
  line-height: 130%;
  color: #FFFFFF;
}
.footer__item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.footer__item_longer {
  margin-bottom: 33px;
  margin-top: -6px;
}
.footer__icon {
  margin-right: 20px;
}
.footer__link {
  text-decoration: none;
  color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 115%;
}
.footer .contacts {
  margin-right: 40px;
  max-width: 280px;
}
.footer .location {
  max-width: 341px;
}

@media only screen and (max-width: 1279px) {
  header .wrapper {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
  }

  .pets .wrapper {
    padding: 72px 74px 75px;
  }
  .pets__slider {
    margin-top: 29px;
  }
  .pets__slider__buttons {
    margin-top: 23px;
  }
  .pets__cards-container {
    margin-bottom: 9px;
  }
  .pets .swiper-container {
    height: 1393px;
  }
  .pets .swiper-container .swiper-slide {
    height: calc((100% - 30px) / 3);
    margin: 0 0 10px !important;
  }

  .footer .wrapper {
    padding: 15px 10px 0 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer__img {
    margin-top: 20px;
  }
  .footer .contacts {
    margin-right: 27px;
    padding-left: 40px;
    max-width: 100%;
  }
  .footer__item_longer {
    margin-top: -8px;
  }
}
@media only screen and (max-width: 767px) {
  header {
    /* скрываем чекбокс */
    /* стилизуем кнопку */
    /* добавляем "гамбургер" */
    /* контейнер меню */
    /* элементы меню */
  }
  header .wrapper {
    padding: 30px 10px;
  }
  header .hamburger-menu {
    display: block;
    z-index: 900;
  }
  header .logo_burger {
    position: absolute;
    right: 105px;
    z-index: 900;
  }
  header .logo_burger .logo__title {
    font-weight: normal;
    font-family: Georgia;
    color: #F1CDB3;
    line-height: 110%;
    letter-spacing: 0.19rem;
    font-size: 3.2rem;
    padding-bottom: 10px;
  }
  header .logo_burger .logo__subtitle {
    color: #FFFFFF;
    font-size: 1.3rem;
    line-height: 110%;
    letter-spacing: 0.13rem;
  }
  header .menu {
    display: none;
  }
  header #menu__toggle {
    opacity: 0;
  }
  header .menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: absolute;
    top: 45px;
    right: 43px;
    width: 30px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }
  header .menu__btn > span,
header .menu__btn > span::before,
header .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #292929;
  }
  header .menu__btn > span::before {
    content: "";
    top: -10px;
  }
  header .menu__btn > span::after {
    content: "";
    top: 10px;
  }
  header .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    margin: 0;
    padding: 100px 0;
    list-style: none;
    text-align: center;
    background-color: #292929;
  }
  header .menu__item {
    display: block;
    padding: 20px 0;
    text-decoration: none;
    color: #FAFAFA;
    font-size: 3.2rem;
    line-height: 160%;
  }
  header .menu__item:hover {
    background-color: #CDCDCD;
  }
  header #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(90deg);
    background-color: #F1CDB3;
  }
  header #menu__toggle:checked ~ .menu__btn > span::before, header #menu__toggle:checked ~ .menu__btn > span::after {
    background-color: #F1CDB3;
  }
  header #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  header .menu__btn > span,
header .menu__btn > span::before,
header .menu__btn > span::after {
    transition-duration: 0.3s;
  }
  header .menu__box {
    transition-duration: 0.3s;
  }
  header .menu__item {
    transition-duration: 0.3s;
  }

  .pets .wrapper {
    padding: 40px 0 30px;
  }
  .pets__title {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }
  .pets__slider {
    margin-top: 50px;
  }
  .pets__slider__buttons {
    max-width: 300px;
    margin-top: 2px;
  }
  .pets__cards-container {
    margin: 0;
  }
  .pets__card {
    margin-bottom: 31px;
  }

  .footer .contacts {
    margin: 0 auto;
    padding: 0 10px 24px;
  }
  .footer__item:last-child {
    margin: 0;
  }
  .footer__item_longer {
    margin-top: -7px;
  }
  .footer__title {
    padding: 16px 0 39px;
    text-align: center;
  }
  .footer__img {
    margin-top: 95px;
  }
}

/*# sourceMappingURL=pets.css.map */
