* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 10px;
    font-family: Arial;
}

// -----------------------
$color-primary: #F1CDB3;
$color-light-xl: #FFFFFF;
$color-light-s: #FAFAFA;
$color-dark-xl: #545454;
$color-dark-s: #CDCDCD;
// -----------------------
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #000;
    width: 100%;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        width: 184px;
        text-align: center;
    }
    .logo__title {
        font-weight: normal;
        font-family: Georgia;
        color: $color-primary;
        line-height: 110%;
        letter-spacing: 0.06rem;
        font-size: 3.2rem;
    }
    .logo__subtitle {
        color: $color-light-xl;
        font-size: 1.3rem;
        line-height: 110%;
    }
    .list {
        display: flex;
        list-style: none;
        .list__item {
            padding: 0 17px;
            .list__link {
                color: $color-dark-s;
                font-size: 1.5rem;
                line-height: 160%;
                text-decoration: none;
            }
            .list__link_active {
                color: $color-light-s;
                border-bottom: 3px solid $color-primary;
            }
        }
    }
}

.hero {
    display: flex;
    .hero__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .hero__title {
            max-width: 310px;
            color: $color-light-xl;
            line-height: 130%;
            font-family: Georgia;
            font-weight: normal;
            font-size: 4.4rem;
        }
        .hero__subtitle {
            line-height: 160%;
            font-size: 1.5rem;
            color: $color-dark-s;
        }
    }
}