@import '../base.scss';
header {
    position: absolute;
    top: 60px;
    width: 100%;
    .hamburger-menu,
    .logo_burger {
        display: none;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        .logo {
            width: 186px;
            text-align: center;
            &__title {
                font-weight: normal;
                font-family: Georgia;
                color: $color-primary;
                line-height: 110%;
                letter-spacing: 0.19rem;
                font-size: 3.2rem;
                padding-bottom: 10px;
            }
            &__subtitle {
                color: $color-light-xl;
                font-size: 1.3rem;
                line-height: 110%;
                letter-spacing: 0.13rem;
            }
        }
    }
    .menu {
        display: flex;
        align-items: center;
        min-width: 443px;
    }
    .list {
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: space-between;
        &__item {
            padding-bottom: 3px;
        }
        &__link {
            padding-bottom: 3px;
            font-size: 1.5rem;
            line-height: 160%;
            color: $color-dark-s;
            text-decoration: none;
            &:hover {
                color: $color-light-s;
            }
            &_active {
                color: $color-light-s;
                border-bottom: 3px solid $color-primary;
            }
        }
    }
}

.hero-bg {
    background: $start-screen-gradient-bg;
}

.hero {
    display: flex;
    padding-top: 180px;
    &__content {
        padding-top: 163px;
    }
    &__title {
        max-width: 310px;
        color: $color-light-xl;
        @include h2;
    }
    &__subtitle {
        margin-top: 44px;
        line-height: 160%;
        font-size: 1.5rem;
        max-width: 92%;
        color: $color-dark-s;
    }
    &__button {
        margin-top: 40px;
    }
    &__img {
        display: flex;
    }
}

.about {
    .wrapper {
        padding: 80px 0 100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    &__img {
        margin-right: 120px;
    }
    &__content {
        padding-top: 14px;
        max-width: 430px;
    }
    &__title {
        max-width: 370px;
        color: $color-dark-l;
        @include h3;
    }
    &__subtitle {
        margin-top: 25px;
        color: $color-dark-xl;
        @include paragraph-l;
    }
}

.pets {
    background: $color-light-l;
    .wrapper {
        padding: 80px 0 101px;
        text-align: center;
    }
    &__title {
        @include h3;
        margin-left: 2px;
        color: $color-dark-l;
    }
    &__slider {
        position: relative;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-button_right,
        &-button_left {
            position: relative !important;
            top: 0;
            right: 0;
            left: 0;
        }
    }
    &__cards-container {
        max-width: 990px;
        width: 100%;
    }
    &__card {
        position: relative;
        border-radius: 9px;
        padding-bottom: 28px;
        background: $color-light-s;
        &:hover {
            background: $color-light-xl;
            cursor: pointer;
        }
        &_title {
            padding-top: 27px;
            padding-bottom: 31px;
            color: $color-dark-3xl;
            @include h4;
        }
    }
    &__button-big {
        margin-top: 62px;
    }
}

.help {
    .wrapper {
        padding: 79px 0 100px;
        text-align: center;
    }
    &__title {
        margin-left: 3px;
        @include h3;
        color: $color-dark-l;
    }
    &__container {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 120px;
        row-gap: 55px;
    }
    &__item {
        white-space: nowrap;
    }
    &__item-name {
        padding-top: 28px;
        @include h4;
        color: $color-dark-l;
    }
    .first-line {
        width: 85.5%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto 55px;
    }
    .second-line {
        margin: 0 auto;
        width: 70%;
        display: flex;
        justify-content: space-around;
    }
}

.donation {
    background: $color-light-l;
    .wrapper {
        padding: 83px 0 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    &__img {
        margin-right: 31px;
    }
    &__content {
        max-width: 380px;
    }
    &__title {
        @include h3;
    }
    &__subtitle {
        padding-top: 20px;
        letter-spacing: 0.09rem;
        @include h5;
        color: $color-dark-l;
    }
    &__description {
        @include paragraph-s;
        color: $color-dark-m;
    }
    .credit-card {
        justify-content: space-between;
        align-items: center;
        display: flex;
        margin: 20px 0;
        max-width: 350px;
        padding: 10.5px 15px;
        border-radius: 9px;
        background: $color-primary;
        &__number {
            text-decoration: none;
            color: $color-dark-l;
            @include h4;
        }
        img {
            margin-right: 3px;
        }
    }
}

.footer {
    background: $footer-gradient-background;
    .wrapper {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        padding: 16px 0 40px;
        max-width: 312px;
        @include h3;
        color: $color-light-xl;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        &_longer {
            margin-bottom: 33px;
            margin-top: -6px;
        }
    }
    &__icon {
        margin-right: 20px;
    }
    &__link {
        text-decoration: none;
        color: $color-primary;
        @include h4;
    }
    .contacts {
        margin-right: 40px;
        max-width: 280px;
    }
    .location {
        max-width: 341px;
    }
}

@media only screen and (max-width: 1279px) {
    header {
        top: 30px;
        .wrapper {
            padding: 0 30px;
        }
    }
    .hero {
        flex-wrap: wrap;
        padding-top: 150px;
        &__content {
            padding: 0;
            margin: 0 auto;
            max-width: 500px;
        }
        &__title {
            margin-left: 20px;
        }
        &__subtitle {
            margin-left: 20px;
        }
        &__button {
            display: block;
            margin: 40px auto 100px;
        }
        &__img {
            max-width: 74.19vw;
            margin-left: auto;
            margin-right: 31px;
            img {
                width: 100%;
            }
        }
    }
    .about {
        .wrapper {
            padding-top: 65px;
        }
        &__img {
            flex-basis: 100%;
            margin: 80px 0 0;
            img {
                margin: 0 auto;
                display: block;
            }
        }
    }
    .pets {
        .wrapper {
            padding: 80px 30px 101px;
        }
    }
    .help {
        &__container {
            margin: 59px 39px 0 39px;
            column-gap: 60px;
            row-gap: 55px;
        }
        &__item {
            width: 17rem;
        }
    }
    .donation {
        .wrapper {
            padding-top: 80px;
        }
        &__img {
            margin: 60px 0 0 0;
        }
    }
    .footer {
        .wrapper {
            padding: 15px 10px 0 10px;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__img {
            margin-top: 25px;
        }
        .contacts {
            margin-right: 27px;
            padding-left: 40px;
            max-width: 100%;
        }
        &__item_longer {
            margin-top: -8px;
        }
    }
    .modal {
        &-content {
            width: 630px;
        }
    }
}

@media only screen and (max-width: 767px) {
    header {
        top: 31px;
        .wrapper {
            padding: 0 10px;
        }
        .hamburger-menu {
            display: block;
            z-index: 900;
        }
        .logo_burger {
            position: absolute;
            right: 105px;
            z-index: 900;
        }
        .menu {
            display: none;
        }
        /* скрываем чекбокс */
        #menu__toggle {
            opacity: 0;
        }
        /* стилизуем кнопку */
        .menu__btn {
            display: flex;
            /* используем flex для центрирования содержимого */
            align-items: center;
            /* центрируем содержимое кнопки */
            position: absolute;
            top: 17px;
            right: 43px;
            width: 30px;
            height: 26px;
            cursor: pointer;
            z-index: 3;
        }
        /* добавляем "гамбургер" */
        .menu__btn>span,
        .menu__btn>span::before,
        .menu__btn>span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $color-primary;
        }
        .menu__btn>span::before {
            content: "";
            top: -10px;
        }
        .menu__btn>span::after {
            content: "";
            top: 10px;
        }
        /* контейнер меню */
        .menu__box {
            display: flex;
            flex-direction: column;
            position: fixed;
            justify-content: center;
            visibility: hidden;
            top: 0;
            right: -100%;
            width: 320px;
            height: 100%;
            margin: 0;
            padding: 100px 0;
            list-style: none;
            text-align: center;
            background-color: $color-dark-3xl;
        }
        /* элементы меню */
        .menu__item {
            display: block;
            padding: 20px 0;
            text-decoration: none;
            color: $color-light-s;
            font-size: 3.2rem;
            line-height: 160%;
        }
        .menu__item:hover {
            background-color: $color-dark-s;
        }
        #menu__toggle:checked~.menu__btn>span {
            transform: rotate(90deg);
        }
        #menu__toggle:checked~.menu__box {
            visibility: visible;
            right: 0;
        }
        .menu__btn>span,
        .menu__btn>span::before,
        .menu__btn>span::after {
            transition-duration: 0.3s;
        }
        .menu__box {
            transition-duration: 0.3s;
        }
        .menu__item {
            transition-duration: 0.3s;
        }
    }
    .hero {
        &__title {
            margin: 0 auto;
            @include h3-mob;
        }
        &__subtitle {
            margin-left: 13px;
            margin-top: 43px;
            text-align: center;
        }
        &__button {
            margin: 41px auto 106px;
        }
        &__img {
            max-width: 81.19vw;
            margin-right: 10px;
        }
    }
    .about {
        .wrapper {
            padding: 28px 25px 43px;
        }
        &__title {
            padding-bottom: 2px;
            margin: 0 auto;
            @include h3-mob;
        }
        &__subtitle {
            margin-top: 23px;
            text-align: justify;
        }
        &__img {
            max-width: 81vw;
            margin: 40px 0 0;
            img {
                max-width: 100%;
            }
        }
    }
    .pets {
        .wrapper {
            padding: 41px 0;
        }
        &__title {
            padding-bottom: 2px;
            @include h3-mob;
        }
        &__slider {
            margin-top: 40px;
            flex-wrap: wrap;
        }
        &__slider-button_left {
            order: 2;
            margin-top: 20px;
            margin-left: 68px;
        }
        &__slider-button_right {
            order: 3;
            margin-top: 20px;
            margin-right: 68px;
        }
        &__button-big {
            margin-top: 42px;
        }
    }
    .help {
        .wrapper {
            padding: 43px 15px 42px;
        }
        &__title {
            @include h3-mob;
        }
        &__container {
            max-width: 300px;
            margin: 42px auto 0;
            column-gap: 30px;
            row-gap: 30px;
            justify-content: flex-start;
        }
        &__item {
            width: 130px;
        }
        &__item-name {
            padding-top: 19px;
            letter-spacing: 0.09rem;
            @include h5;
        }
        &__img {
            width: 50px;
        }
    }
    .donation {
        .wrapper {
            padding: 42px 20px 42px;
        }
        &__title {
            @include h3-mob;
        }
        &__subtitle {
            padding-top: 23px;
            letter-spacing: normal;
            text-align: center;
        }
        &__description {
            text-align: justify;
        }
        &__img {
            max-width: 94%;
            margin: 40px 0 0 0;
        }
        .credit-card {
            justify-content: flex-start;
            margin: 25px auto 20px;
            max-width: 280px;
            padding: 10.5px 8px;
            img {
                margin: 0 14px 0px 6px;
            }
            &__number {
                font-size: 1.5rem;
                letter-spacing: 0.1rem;
            }
        }
    }
    .footer {
        .wrapper {
            padding: 30px 10px 0 10px;
        }
        &__title {
            @include h3-mob;
            padding-top: 0;
        }
        .contacts {
            margin: 0;
            padding: 0;
            .footer__item {
                justify-content: center;
            }
        }
        .location {
            .footer__title {
                padding: 0 20px 40px;
            }
        }
        &__item_longer {
            margin: 0 0 40px;
        }
        &__img {
            margin: 0;
            max-width: 87%;
        }
    }
    .modal {
        &-content {
            width: 240px;
        }
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
    max-width: 990px;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: transparent;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}