@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: Arial;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  z-index: 1 !important;
  border: 2px solid transparent;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  font-family: Georgia;
  color: #292929;
  font-weight: normal;
  letter-spacing: 0.11rem;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.button:hover {
  cursor: pointer;
  border: 2px solid transparent;
}
.button::after, .button::before {
  content: "" !important;
}
.button__little {
  border-radius: 50%;
  max-width: 52px;
  width: 100%;
  height: 52px;
  border: 2px solid #F1CDB3;
}
.button__little:hover {
  border: 2px solid transparent;
  background-color: #FDDCC4;
}
.button__little:active, .button__little_active {
  border: 2px solid transparent;
  background-color: #F1CDB3;
}
.button__little_inactive {
  border: 2px solid #CDCDCD;
  pointer-events: none;
  color: #CDCDCD;
}
.button__little_inactive:hover {
  cursor: not-allowed !important;
  border: 2px solid #CDCDCD;
  background-color: transparent;
}
.button__close {
  background-image: url("../../assets/icons/close-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_left {
  background-image: url("../../assets/icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_left_inactive {
  background-image: url("../../assets/icons/arrow-inactive.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_right {
  background-image: url("../../assets/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__arrow_right_inactive {
  background-image: url("../../assets/icons/arrow-inactive.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
}
.button__arrow_small {
  font-size: 2rem;
  font-weight: 700;
}
.button__arrow_small_inactive {
  color: #CDCDCD;
}
.button__arrow_small_double {
  font-size: 2rem;
  font-weight: 700;
}
.button__arrow_small_double_inactive {
  color: #CDCDCD;
}
.button__big {
  border: 2px solid transparent;
  line-height: 130%;
  font-size: 1.7rem;
  border-radius: 100px;
  padding: 13px 43px;
}
.button__big:hover {
  border: 2px solid transparent;
  background-color: #FDDCC4;
}
.button__big_primary {
  background-color: #F1CDB3;
}
.button__big_secondary {
  border: 2px solid #F1CDB3;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 100;
  width: 900px;
  max-width: 80%;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal .modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: flex-end;
}
.modal .modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.modal .modal-body {
  padding: 10px 15px;
  background-color: #FAFAFA;
  border-radius: 9px;
  display: flex;
}
.modal .modal-body .modal__img {
  width: 500px;
}
@media screen and (max-width: 767px) {
  .modal .modal-body .modal__img {
    display: none;
  }
}
.modal .modal-body .pets__card_modal {
  width: 400px;
}
@media screen and (max-width: 767px) {
  .modal .modal-body .pets__card_modal {
    margin: 0 auto;
  }
}
.modal .modal-body .pet__name {
  font-size: 3.5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.21rem;
  line-height: 130%;
  margin-top: 50px;
}
.modal .modal-body .pet__type {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 115%;
  margin-top: 10px;
}
.modal .modal-body .pet__description {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  margin-top: 40px;
}
.modal .modal-body .pet__characteristics {
  margin-top: 40px;
  margin-left: 15px;
}
.modal .modal-body .pet__characteristics li {
  list-style-type: none;
  position: relative;
  margin-bottom: 10px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
}
.modal .modal-body .pet__characteristics li:before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  background-color: #F1CDB3;
  left: -12px;
  top: calc(50% - 2px);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.6);
  pointer-events: none;
}
#overlay:hover {
  cursor: pointer;
}
#overlay.active {
  opacity: 1;
  z-index: 3;
  pointer-events: all;
}
@media screen and (max-width: 767px) {
  #overlay.active {
    z-index: 2 !important;
  }
}

header {
  position: absolute;
  top: 60px;
  width: 100%;
}
header .disabled {
  pointer-events: none;
  cursor: default;
}
header .hamburger-menu,
header .logo_burger {
  display: none;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
}
header .wrapper .logo {
  width: 186px;
  text-align: center;
}
header .wrapper .logo__title {
  font-weight: normal;
  font-family: Georgia;
  color: #F1CDB3;
  line-height: 110%;
  letter-spacing: 0.19rem;
  font-size: 3.2rem;
  padding-bottom: 10px;
}
header .wrapper .logo__subtitle {
  color: #FFFFFF;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: 0.13rem;
}
header .menu {
  display: flex;
  align-items: center;
  min-width: 443px;
}
header .list {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
header .list__item {
  padding-bottom: 3px;
}
header .list__link {
  padding-bottom: 3px;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
  text-decoration: none;
}
header .list__link:hover {
  color: #FAFAFA;
}
header .list__link_active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.hero-bg {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero {
  display: flex;
  padding-top: 180px;
}
.hero__content {
  padding-top: 163px;
}
.hero__title {
  max-width: 310px;
  color: #FFFFFF;
  line-height: 130%;
  font-family: Georgia;
  font-weight: normal;
  font-size: 4.4rem;
}
.hero__subtitle {
  margin-top: 44px;
  line-height: 160%;
  font-size: 1.5rem;
  max-width: 92%;
  color: #CDCDCD;
}
.hero__button {
  margin-top: 40px;
}
.hero__img {
  display: flex;
}

.about .wrapper {
  padding: 80px 0 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.about__img {
  margin-right: 120px;
}
.about__content {
  padding-top: 14px;
  max-width: 430px;
}
.about__title {
  max-width: 370px;
  color: #545454;
  font-size: 3.5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.21rem;
  line-height: 130%;
}
.about__subtitle {
  margin-top: 25px;
  color: #545454;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 162%;
}

.pets {
  background: #F6F6F6;
}
.pets .wrapper {
  padding: 80px 0 101px;
  text-align: center;
}
.pets__title {
  font-size: 3.5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.21rem;
  line-height: 130%;
  margin-left: 2px;
  color: #545454;
}
.pets__slider {
  position: relative;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pets__slider-button_right, .pets__slider-button_left {
  position: relative !important;
  top: 0;
  right: 0;
  left: 0;
}
.pets__cards-container {
  max-width: 990px;
  width: 100%;
}
.pets__card {
  position: relative;
  border-radius: 9px;
  padding-bottom: 28px;
  background: #FAFAFA;
}
.pets__card:hover {
  background: #FFFFFF;
  cursor: pointer;
}
.pets__card_title {
  padding-top: 27px;
  padding-bottom: 31px;
  color: #292929;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 115%;
}
.pets__button-big {
  margin-top: 62px;
}

.help .wrapper {
  padding: 79px 0 93px;
  text-align: center;
}
.help__title {
  margin-left: 3px;
  font-size: 3.5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.21rem;
  line-height: 130%;
  color: #545454;
}
.help__container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 55px;
}
.help__item {
  white-space: nowrap;
}
.help__item-name {
  padding-top: 28px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 115%;
  color: #545454;
}
.help .first-line {
  width: 85.5%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 55px;
}
.help .second-line {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.donation {
  background: #F6F6F6;
}
.donation .wrapper {
  padding: 83px 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.donation__img {
  margin-right: 31px;
}
.donation__content {
  max-width: 380px;
}
.donation__title {
  font-size: 3.5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.21rem;
  line-height: 130%;
}
.donation__subtitle {
  padding-top: 20px;
  letter-spacing: 0.09rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  color: #545454;
}
.donation__description {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 153%;
  color: #B2B2B2;
}
.donation .credit-card {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 20px 0;
  max-width: 350px;
  padding: 10.5px 15px;
  border-radius: 9px;
  background: #F1CDB3;
}
.donation .credit-card__number {
  text-decoration: none;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 115%;
}
.donation .credit-card img {
  margin-right: 3px;
}

.footer {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer .wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.footer__title {
  padding: 16px 0 40px;
  max-width: 312px;
  font-size: 3.5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.21rem;
  line-height: 130%;
  color: #FFFFFF;
}
.footer__item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.footer__item_longer {
  margin-bottom: 33px;
  margin-top: -6px;
}
.footer__icon {
  margin-right: 20px;
}
.footer__link {
  text-decoration: none;
  color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 115%;
}
.footer .contacts {
  margin-right: 40px;
  max-width: 280px;
}
.footer .location {
  max-width: 341px;
}

@media only screen and (max-width: 1279px) {
  header {
    top: 30px;
  }
  header .wrapper {
    padding: 0 30px;
  }

  .hero {
    flex-wrap: wrap;
    padding-top: 150px;
  }
  .hero__content {
    padding: 0;
    margin: 0 auto;
    max-width: 500px;
  }
  .hero__title {
    margin-left: 20px;
  }
  .hero__subtitle {
    margin-left: 20px;
  }
  .hero__button {
    display: block;
    margin: 40px auto 100px;
  }
  .hero__img {
    max-width: 74.19vw;
    margin-left: auto;
    margin-right: 31px;
  }
  .hero__img img {
    width: 100%;
  }

  .about .wrapper {
    padding-top: 65px;
  }
  .about__img {
    flex-basis: 100%;
    margin: 80px 0 0;
  }
  .about__img img {
    margin: 0 auto;
    display: block;
  }

  .pets .wrapper {
    padding: 80px 30px 101px;
  }

  .help .wrapper {
    padding: 79px 0 98px;
  }
  .help__container {
    margin: 59px 39px 0 39px;
    column-gap: 60px;
    row-gap: 55px;
  }
  .help__item {
    width: 17rem;
  }

  .donation .wrapper {
    padding-top: 80px;
  }
  .donation__img {
    margin: 60px 0 0 0;
  }

  .footer .wrapper {
    padding: 15px 10px 0 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer__img {
    margin-top: 25px;
  }
  .footer .contacts {
    margin-right: 27px;
    padding-left: 40px;
    max-width: 100%;
  }
  .footer__item_longer {
    margin-top: -8px;
  }

  .modal-content {
    width: 630px;
  }
}
@media only screen and (max-width: 767px) {
  header {
    top: 31px;
    /* скрываем чекбокс */
    /* стилизуем кнопку */
    /* добавляем "гамбургер" */
    /* контейнер меню */
    /* элементы меню */
  }
  header .wrapper {
    padding: 0 10px;
  }
  header .hamburger-menu {
    display: block;
    z-index: 900;
  }
  header .logo_burger {
    position: absolute;
    right: 105px;
    z-index: 900;
  }
  header .menu {
    display: none;
  }
  header #menu__toggle {
    opacity: 0;
  }
  header .menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: absolute;
    top: 17px;
    right: 43px;
    width: 30px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }
  header .menu__btn > span,
header .menu__btn > span::before,
header .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
  }
  header .menu__btn > span::before {
    content: "";
    top: -10px;
  }
  header .menu__btn > span::after {
    content: "";
    top: 10px;
  }
  header .menu__box {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    margin: 0;
    padding: 100px 0;
    list-style: none;
    text-align: center;
    background-color: #292929;
  }
  header .menu__item {
    display: block;
    padding: 20px 0;
    text-decoration: none;
    color: #FAFAFA;
    font-size: 3.2rem;
    line-height: 160%;
  }
  header .menu__item:hover {
    background-color: #CDCDCD;
  }
  header #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(90deg);
  }
  header #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  header .menu__btn > span,
header .menu__btn > span::before,
header .menu__btn > span::after {
    transition-duration: 0.3s;
  }
  header .menu__box {
    transition-duration: 0.3s;
  }
  header .menu__item {
    transition-duration: 0.3s;
  }

  .hero__title {
    margin: 0 auto;
    font-size: 2.5rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.15rem;
  }
  .hero__subtitle {
    margin-left: 13px;
    margin-top: 43px;
    text-align: center;
  }
  .hero__button {
    margin: 41px auto 106px;
  }
  .hero__img {
    max-width: 81.19vw;
    margin-right: 10px;
  }

  .about .wrapper {
    padding: 28px 25px 43px;
  }
  .about__title {
    padding-bottom: 2px;
    margin: 0 auto;
    font-size: 2.5rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.15rem;
  }
  .about__subtitle {
    margin-top: 23px;
    text-align: justify;
  }
  .about__img {
    max-width: 81vw;
    margin: 40px 0 0;
  }
  .about__img img {
    max-width: 100%;
  }

  .pets .wrapper {
    padding: 41px 0;
  }
  .pets__title {
    padding-bottom: 2px;
    font-size: 2.5rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.15rem;
  }
  .pets__slider {
    margin-top: 40px;
    flex-wrap: wrap;
  }
  .pets__slider-button_left {
    order: 2;
    margin-top: 20px;
    margin-left: 68px;
  }
  .pets__slider-button_right {
    order: 3;
    margin-top: 20px;
    margin-right: 68px;
  }
  .pets__button-big {
    margin-top: 42px;
  }

  .help .wrapper {
    padding: 43px 15px 42px;
  }
  .help__title {
    font-size: 2.5rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.15rem;
  }
  .help__container {
    max-width: 300px;
    margin: 42px auto 0;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: flex-start;
  }
  .help__item {
    width: 130px;
  }
  .help__item-name {
    padding-top: 19px;
    letter-spacing: 0.09rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 110%;
  }
  .help__img {
    width: 50px;
  }

  .donation .wrapper {
    padding: 42px 20px 42px;
  }
  .donation__title {
    font-size: 2.5rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.15rem;
  }
  .donation__subtitle {
    padding-top: 23px;
    letter-spacing: normal;
    text-align: center;
  }
  .donation__description {
    text-align: justify;
  }
  .donation__img {
    max-width: 94%;
    margin: 40px 0 0 0;
  }
  .donation .credit-card {
    justify-content: flex-start;
    margin: 25px auto 20px;
    max-width: 280px;
    padding: 10.5px 8px;
  }
  .donation .credit-card img {
    margin: 0 14px 0px 6px;
  }
  .donation .credit-card__number {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

  .footer .wrapper {
    padding: 30px 10px 0 10px;
  }
  .footer__title {
    font-size: 2.5rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.15rem;
    padding-top: 0;
  }
  .footer .contacts {
    margin: 0;
    padding: 0;
  }
  .footer .contacts .footer__item {
    justify-content: center;
  }
  .footer .location .footer__title {
    padding: 0 20px 40px;
  }
  .footer__item_longer {
    margin: 0 0 40px;
  }
  .footer__img {
    margin: 0;
    max-width: 87%;
  }

  .modal-content {
    width: 240px;
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
  max-width: 990px;
}
.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
